<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style3.css">
  <title>Home</title>
</head>
<body>
  <section>
    <div class="content-box">
      <h1>Home</h1>
      <% if (user) { %>
        <p>Welcome, <%= user.email %>!</p>
        <a class="btn" href="/logout">Logout</a>
      <% } else { %>
        <nav>
          <a class="btn" href="/login">Login</a>
          <a class="btn" href="/signup">Signup</a>
        </nav>
      <% } %>
    </div>
  </section>
</body>
</html>
